[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
jupyter = "*"
notebook = "*"
numpy = "*"
matplotlib = "*"
ipython = "*"
jupyterlab = "*"
scikit-learn = "*"
opencv-python = "*"
cld2-cffi = "*"
node2vec = "*"
torch = "*"
torchvision = "*"
graphviz = "*"
pandas = "*"
torchviz = "*"
gym = "*"
scikit-image = "*"
box2d-py = "*"

[requires]
python_version = "3.6.5"
